<div class="card-header wc-header chat-list-header rounded-0">
                            
	<div class="d-flex align-items-stretch w-100">
	    <div class="wc-header-footer ps-2">
	        <div class="wc-header-title text-uppercase fw-bold">Nossa Localização</div>
	    </div>
	    <div class="wc-header-links d-flex align-items-center flex-column ms-auto text-end">
	        <a href="javascript:void(0)" class="open_tab" data-tab="chat_bot"><i class="fa-solid fa-comments"></i> Voltar ao Chat</a>
	    </div>
	</div>

</div>
<div class="content-mapa"></div>