<!--**********************************
    Footer start
***********************************-->
<div class="footer">
    <div class="copyright">
        <p>Copyright © LugoChat - Todos os direitos reservados.
</div>
<!--**********************************
    Footer end
***********************************-->