<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">

        {% if _session.busca_perfil_empresa == 1 %}
            {{ include('inc/menu-admin.twig') }}
        {% else %}
		    {{ include('inc/menu-motel.twig') }}
        {% endif %}

		<div class="copyright">
			<p><strong class="d-inline">Busca de Motéis</strong> © Copyright</p>
			<p><i class="fa-solid fa-phone-volume"></i> (11) 99999-9999</p>
            <p><i class="fa-solid fa-envelope-open-text"></i> sac@buscademoteis.com.br</p>
		</div>
	</div>
</div>
<!--**********************************
    Sidebar end
***********************************-->