<div class="sub-menu-action bg-primary">
	<div class="py-2 px-3">
		<a href="javascript:void(0)" onclick="openSuites()" class="text-white"><i class="fa-solid fa-arrow-left"></i> Voltar as Suítes</a>
	</div>
</div>


<div class="p-4 mb-5">

	<div>
		
		<div class="text-center"><h2 class="text-primary">Aguarde enquanto sua reserva está sendo aprovada.</h2></div>
		
		<div class="text-center mt-4">Estamos trabalhando para garantir que sua estadia seja perfeita e em breve você receberá a confirmação com todos os detalhes. Agradecemos por escolher nosso serviço e mal podemos esperar para recebê-lo!</div>
		
		<div class="my-5 text-center">
			<img src="{{ DOMAIN }}/view/assets/images/bathtub.svg" class="img-fluid w-50 m-auto">
		</div>

		<div class="text-center">
			<h2 class="text-primary">Não feche ou atualize seu navegador. </h2>
		</div>
		<div class="text-center fw-bold">
			Aguarde enquanto verificamos a disponibilidade da suíte escolhida. 
		</div>
		<div class="text-center">
			<i>Isso pode levar alguns minutos</i>
		</div>

	</div>

</div>
